<div class="container-fluid pt-5  wow fadeInUp" data-wow-delay="1s">
 <!-- Image and text -->
<mdb-navbar SideClass="navbar navbar-dark indigo ">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
           
            Tipos de lista
        </a>
    </mdb-navbar-brand>
</mdb-navbar>
  <br>
  <mdb-card>
      <div class="container">
          <form (ngSubmit)="createTypeList()" #formTypeList="ngForm" novalidate>
            <div class="row" style="margin-top: 20px;">
              <div class="col-4">
                <div class="form-group">
                  <label for="id">Id</label>
                  <input id="float-input" type="text" name="id" readonly [(ngModel)]="masterTypeListSelected.id" disabled
                    class="form-control">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input id="float-input" type="text" name="name" [(ngModel)]="masterTypeListSelected.name" required
                    #name="ngModel" nameValidation class="form-control">
                  <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <p class="requiredRed" *ngIf="name.errors.required">El nombre es requerido*</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="md-form">
    
                  <input id="form-1" type="text" name="description" mdbInput
                    [(ngModel)]="masterTypeListSelected.description" required #description="ngModel" class="form-control">
                  <label for="float-input">Descripción</label>
                  <div *ngIf="description.invalid && (description.dirty || description.touched)">
                    <div *ngIf="description.errors.required">
                      <p class="requiredRed">La descripción es requerida*</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pl-2 pb-3">
                <div class="col-12">
                  <button 
                  label="Guardar" 
                  [disabled]="!formTypeList.valid" 
                  class="btn blue-gradient mr-3 ">Guardar</button>
                  
                  <button  type="button" 
                  label="Limpiar" 
                  class="btn aqua-gradient " 
                  (click)="reset()">Limpiar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
  </mdb-card>
  <div class="container-fluid">
    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label>Filtrar:</label>
              <input type="text" placeholder="Filtro por nombre" style="width:auto" [(ngModel)]="filterTypeList"
                name="filter" class="form-control">
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table #tt class="table table-hover table-bordered">
            <thead class="thead thead-dark">
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of masterTypeList | filter:filterTypeList | paginate: {itemsPerPage: 10, currentPage: pageActual}">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>
                  <div class="" style="text-align: center;">
                    <button pButton type="button" icon="pi pi-pencil" iconPos="left" class="ui-button-info"
                      style="margin-right: 5px;" (click)="update(item)"></button>

                    <button pButton type="button" icon="pi pi-trash " iconPos="left" class="ui-button-danger"
                      (click)="confirmDelete(item.id)"></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)=" pageActual = $event" style="text-align: center;">
</pagination-controls>
<p-toast></p-toast>
<p-confirmDialog icon="pi pi-exclamation-triangle" acceptButtonStyleClass="ui-button-info"
  rejectButtonStyleClass="ui-button-info" [style]="{width: '50vw'}">
</p-confirmDialog>